.heading_container {
    margin: 1rem 1.5rem 0 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.heading_title_info > h1,
.heading_title_info > a > h3,
.heading_title_info > a > h4 {
    padding: 0;
    margin: 0;
}

.heading_title_info > a > h3,
.heading_title_info > a > h4 {
    color: #fea423;
}

.heading_title_info > a > h3:hover,
.heading_title_info > a > h4:hover {
    color: #f57c00;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading h1,
.heading h3 {
    margin: 0;
}

#heading_info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rating_container {
    background-color: #1e1e1e;
    border-radius: 0.25rem;
    min-width: 10rem;
    text-align: center;
    padding: 0.5rem 0;
}

.rating_container h5 {
    margin: 0.25rem 0;
}

.rating_container p {
    font-size: 1.1rem;
    padding: 0;
    margin: 0.1rem 0;
}

.star_rating {
    display: flex;
    align-items: center;
    justify-content: center;
}

.star_rating span {
    font-size: 1.2rem;
    font-weight: bold;
}

#num_votes {
    font-size: 0.9rem;
}

#overview {
    font-size: 1.3rem;
}

#tagline {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 1.5rem;
}

#genres {
    font-size: 1.2rem;
}

.movie_option_buttons {
    display: flex;
    gap: 1rem;
}

.lower_content_line {
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.lower_content_line h4,
.lower_content_line p {
    margin: 0.5rem 0;
}

.lower_content_line > span {
    color: lightgrey;
    padding: 0.25rem 0;
}

.movie_ratings {
    display: flex;
    gap: 0.5rem;
}

.container {
    display: flex;
}

.content_left {
    padding: 1rem 1rem;
}

.content_right {
    padding: 1rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background {
    background-size: contain;
    opacity: 0.5;
}

.genre_container {
    margin: 0;
    padding: 1rem 0 2rem 0;
}

.genre_container > h3 {
    padding: 0;
    margin: 0;
}

.flag {
    width: 1.5rem;
}

#lang_font {
    font-weight: normal;
}

#prod_font {
    font-weight: normal;
}

.movie_info_item:not(:first-child)::before {
    content: "•";
    margin-right: 0.25rem;
    color: lightgrey;
}

@media only screen and (max-width: 1000px) {
    .heading_container {
        flex-direction: column;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
}
