.heading_container {
    padding: 1rem;
}

.heading_container h1 {
    padding: 0;
    margin: 0;
}

.flex_info_container {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.info_left {
    flex-shrink: 0;
    width: 100%;
    max-width: 450px;
    min-width: 300px;
    padding: 1rem;
}

.info_left img {
    width: 100%;
    max-width: 450px;
    min-width: 300px;
    height: auto;
    display: block;
}

.info_right {
    max-width: 100%;
    width: 100%;
    padding: 0 1rem;
}

.info_right h3 {
    margin: 0;
    padding: 0;
}

.info_right_section {
    margin-bottom: 1rem;
}

.aliases,
.details,
.death_info,
.known_for_department {
    margin-top: 1rem;
}

.details p {
    margin: 0;
    padding: 0;
}

.known_for_container {
    display: flex;
    align-items: center;
}

.known_for_container h3 {
    margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
    .flex_info_container {
        flex-direction: column;
    }
}
