.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 55px;
    border-bottom: 1px solid #fea423;
}

.left {
    display: flex;
    align-items: center;
    background-color: black;
}

.right {
    display: flex;
    align-items: center;
    background-color: black;
}

.nav_link {
    cursor: pointer;
    text-decoration: none;
    color: #fea423;
    padding: 0 1em;
}

.nav_link:hover {
    color: #f57c00;
}

.nav_link:active {
    color: #fea423;
}
