nav{
    display: flex;
    align-items: center;
    background-color: black;
    height: 50px;
}

.nav-link{
    text-decoration: none;
    color: white;
    padding: 0 1em;
}

.nav-link:hover{
    color: grey;
}

.nav-link:active{
    color: lightgrey;
}