.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 55px;
    border-bottom: 1px solid white;
}

.left {
    display: flex;
    align-items: center;
    background-color: black;
}

.right {
    display: flex;
    align-items: center;
    background-color: black;
}

.nav_link {
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 0 1em;
}

.nav_link:hover {
    color: grey;
}

.nav_link:active {
    color: lightgrey;
}
