.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 55px;
    border-bottom: 1px solid #fea423;
    padding: 0 1rem;

    max-width: 100vw;
}

.left {
    display: flex;
    align-items: center;
    background-color: black;
}

.left img {
    height: 25px;
    width: auto;
}

.right {
    display: flex;
    align-items: center;
    background-color: black;
}

.nav_link {
    cursor: pointer;
    text-decoration: none;
    color: #fea423;
    padding: 0 0.75em;
}

.nav_link:hover {
    color: #f57c00;
}

.nav_link:active {
    color: #fea423;
}

.menu_button {
    background-color: rgb(16, 16, 16);
    color: lightgrey;
    border: 1px solid lightgrey;
    padding: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    display: none;
}

.menu_button:hover {
    background-color: rgb(48, 48, 48);
}

.desktop_links {
    display: flex;
    align-items: center;
    background-color: black;
}

.mobile_menu {
    position: fixed;
    top: 55px; /* navbar height */
    left: 0;
    right: 0;
    background-color: black;
    border-bottom: 1px solid #fea423;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    z-index: 999;
}

.mobile_menu a,
.mobile_menu button {
    padding: 0.75rem 0;
    color: #fea423;
    background: none;
    border: none;
    text-align: left;
    font-size: 1rem;
}

@media only screen and (max-width: 800px) {
    .menu_button {
        display: block;
    }

    .desktop_links {
        display: none;
    }
}
