img {
    color: lightgrey;
}

a {
    color: gold;
}

.container {
    display: flex;
}

.content_left {
    padding: 2rem 1rem;
}

.content_right {
    padding: 2rem 1rem;
}

.background {
    background-size: contain;
    opacity: 0.5;
}

.genre_container {
    margin-top: -36px;
    display: flex;
}

.rating_container {
    margin-top: -18px;
    display: flex;
}
