.title {
    color: lightgrey;
}

.flex_info_container {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    width: 100%;
}

.info_left {
    flex-shrink: 0;
}

.info_left img {
    width: 100%;
    max-width: 450px;
    height: auto;
    display: block;
    padding: 30px;
}

.info_right {
    max-width: 100%;
    width: 100%;
    margin-right: 80px;
    padding: 0 30px;
}

.aliases,
.details,
.death_info,
.known_for_department {
    margin-top: 10px;
}

.details p {
    margin: 0;
    padding: 0;
}

.aliases h3 {
    margin-bottom: 10px;
}

.aliases p {
    margin: 0;
}

.known_for_container {
    display: flex;
    align-items: center;
}

.known_for_container h3 {
    margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
    .flex_info_container {
        flex-direction: column;
    }
}
