.title {
    color: lightgrey;
}

.page_container {
    margin: 2rem;
}

.card_container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

.img {
    height: 300px;
    width: auto;
}

.empty_search_box {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dashed lightgrey;
    height: 500px;
}

.input_options {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.pagination_box {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
