.title {
    color: lightgrey;
}

.page_container {
    margin: 2rem;
}

.card_container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.img {
    height: 300px;
    width: auto;
}
