.heading_container {
    margin: 1rem 1.5rem 0 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading h1,
.heading h3 {
    margin: 0;
}

#heading_info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rating_container {
    background-color: #1e1e1e;
    border-radius: 0.25rem;
    min-width: 10rem;
    text-align: center;
    padding: 0.5rem 0;
}

.rating_container h5 {
    margin: 0.25rem 0;
}

.rating_container p {
    font-size: 1.1rem;
    padding: 0;
    margin: 0.1rem 0;
}

.star_rating {
    display: flex;
    align-items: center;
    justify-content: center;
}

.star_rating span {
    font-size: 1.2rem;
    font-weight: bold;
}

#num_votes {
    font-size: 0.9rem;
}

#overview {
    font-size: 1.3rem;
}

#tagline {
    font-size: 1.2rem;
    font-style: italic;
}

#genres {
    font-size: 1.2rem;
}

.lower_content_line {
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.lower_content_line h4,
.lower_content_line p {
    margin: 0.5rem 0;
}

.lower_content_line span {
    color: lightgrey;
}

.season_ratings {
    display: flex;
    gap: 0.5rem;
}

.container {
    display: flex;
}

.content_left {
    padding: 1rem 1rem;
}

.content_right {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background {
    background-size: contain;
    opacity: 0.5;
}

.genre_container {
    margin-top: 0;
    display: flex;
}

.flag {
    width: 1.5rem;
}

#lang_font {
    font-weight: normal;
}

#prod_font {
    font-weight: normal;
}

.episode_container {
    padding: 0 1rem;
}

.episode_container h3 {
    border-bottom: 1px solid lightgrey;
}

.episode_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.episode_content {
    display: flex;
    border: 1px solid lightgrey;
    padding: 1rem;
    border-radius: 1rem;
}

.episode_content:hover {
    background-color: rgb(32, 32, 32);
}

.episode_info {
    padding: 0 1rem;
}

.episode_info h3 {
    padding: 0;
    margin: 0;
    width: 100%;
}

.no_episode_image {
    height: 150px;
    width: 150px;
    padding: 0 60px;
    object-fit: cover;
    background-color: #cccccc;
}
