.title {
    color: lightgrey;
}

.wrapper {
    margin: auto;
    max-width: 83.75rem;
}
.flex_info_container {
    display: flex;
}

.info_left {
    padding: 2rem 1rem;
}

.info_right {
    padding: 2rem /*height*/ 1rem /*width*/;
}

.genre_container {
    margin-top: -36px;
    display: flex;
}

#tagline {
    font-style: italic;
}

.rating_container p {
    margin-top: -0.3rem;
}

#num_votes {
    margin-top: -1rem;
}
#flag {
    width: 1.5rem;
}

#lang_font {
    font-weight: normal;
}

#prod_font {
    font-weight: normal;
}

.seasons_container {
    padding: 0 1rem;
}

.seasons_container h3 {
    border-bottom: 1px solid lightgrey;
}

.seasons_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.season_content {
    border: 1px solid lightgrey;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    display: flex;
}

.season_content:hover {
    background-color: rgb(32, 32, 32);
}

.season_info {
    width: 100%;
    padding: 0 1rem;
}

.season_info h3 {
    padding: 0;
    margin: 0;
}
