.title {
    color: lightgrey;
}

.flex_info_container {
    display: flex;
}

.info_left {
    padding: 2rem 1rem;
}

.info_right {
    padding: 2rem /*height*/ 1rem /*width*/;
}

.genre_container {
    margin-top: -36px;
    display: flex;
}

#tagline {
    font-style: italic;
}

.rating_container p {
    margin-top: -0.3rem;
}

#num_votes {
    margin-top: -1rem;
}

#flag {
    width: 1.5rem;
}

#lang_font {
    font-weight: normal;
}

#prod_font {
    font-weight: normal;
}
