.card {
    flex: 0 0 auto;
    padding: 0.25rem;
    margin: 0.25rem;
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_image {
    height: 175px;
    cursor: pointer;
}

.title_text {
    margin: 0.25rem;
}

@media only screen and (max-width: 600px) {
    .main_image {
        height: 125px;
    }
}
