.img_slider_details {
    position: absolute;
    left: 5rem;
    bottom: 3rem;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgb(0, 0, 0, 0.5);
    min-width: 25rem;
    max-width: 30rem;
    border: 1px solid grey;
}

.img_slider_title {
    margin: 0;
}

.img_slider_details_text {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.img_slider_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img_slider_img_match_height {
    display: block;
    width: auto;
    height: 100%;
    align-self: center;
    margin: 0 auto;
}

.img_slider_container {
    width: 100%;
    height: 100%;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 1000ms ease-in-out;
}

.img_slider_btn {
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.1);
    transition: background-color 100ms ease-in-out;
}

.img_slider_btn > * {
    height: 2rem;
    width: 2rem;
}

.img_slider_btn:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

.img_slider_img_btn_container {
    display: flex;
    background-color: rgb(0, 0, 0, 0.2);
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 0.25rem;
    height: 20%;
}

.img_slider_img_btn {
    background-color: black;
    border: none;
    display: block;
    cursor: pointer;
    padding: 0.1rem;
    border-radius: none;
}

.img_slider_img_btn_img {
    height: 100%;
}

.img_slider_img_btn_active {
    background-color: #fea423;
    transition: background-color 100ms ease-in-out;
}
