.container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 1em;
}

.title {
    color: lightgrey;
    padding: 0.25rem;
    margin: 1em 1em;
}

.underlined {
    border-bottom: 1px solid lightgrey;
}

.slider_image {
    margin: 0 0.25em;
    max-height: 200px;
}

.slider_image_small_clickable {
    margin: 0 0.25em;
    max-height: 125px;
    cursor: pointer;
}

.no_image_found {
    margin: 0 0.25em;
    height: 200px;
    width: 125px;
    background-color: grey;
    border: 2px dotted white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: lightgrey;
    text-align: center;
}

.card_row {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 0.5rem;
    margin: 1rem 1rem 3rem 1rem;
}

.large_card_container {
    display: flex;
    min-width: 15rem;
}

.medium_card_container {
    display: flex;
    min-width: 10rem;
}
